/*body {
    background: #3a7bd5;  // fallback for old browsers
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  //Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to right, #3a6073, #3a7bd5); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    
}

body {
background: #D3CCE3;  // fallback for old browsers 
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  // Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #E9E4F0, #D3CCE3); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
}
*/
#map {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 550px;  // or as desired
    width: 100%;  // This means "100% of the width of its container", the .col-md-8 
  }
